.app {
  text-align: center;
  
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: top;
  background-color: #282c34;
}

.trace-link-line-decoration {
  background: goldenrod;
  border-radius: 2pt;
}