.app {
  text-align: center;
  
  min-height: 100vh;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  background-color: #282c34;
}

.app .content {
  flex: 1;
  flex-direction: row;
  display: block;

  position: relative;
}

.trace-link-line-decoration {
  background: goldenrod;
  border-radius: 2pt;
}

.editor-pane {
  display:block;
  width: 100%;
  height: 100%;
  position: relative;
}

.reset-graph-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(210, 210, 211, 0.719);
  text-align: left;
  font-size: 8pt;
  padding: 5pt;
  display: flex;
  flex-direction: row;
  justify-content: right;
  border-top: 1px solid #C8C8C8;
}

.reset-graph-panel .message {
  flex: 1;
}

.reset-graph-panel .controls select {
  display: inline-block;
  max-width: 80pt;
}

.reset-graph-panel .controls {
  float: right;
  margin-right: 15pt;
  flex: 1;
  text-align: right;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}


.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}